*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Variables */
:root{
    --main-color: #284b63;
    --secondary-color: #549da0 ;
    --dark-color: #353535;
}

body{
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

main{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
main>*{
    min-width: 100%;
}

.main-article{
    min-height: 40vh;
    background-color: var(--main-color);
    color: white;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main-article h1{
    font-size: 3rem;
}
.main-article h1 span{
    text-transform: uppercase;
}
.main-article p{
    letter-spacing: 1.4px;
    font-weight: lighter;
    font-size: 0.9rem;
}

.main-article button{
    color: white;
    border-radius: 0.6em;
    outline: none;
    border: none;
    padding: 0.6rem 1.2rem;
    background-color: var(--secondary-color);
    transition: 0.5s;
    cursor: pointer;
}
.main-article button:hover{
    background-color: var(--dark-color);
    box-shadow: 2px 3px 3px -5px white;
    color: var(--secondary-color);
}

.articles{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 2rem;
    min-height: 30vh;
}

.articles div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.articles svg{
    width: 40%;
    height: 45%;
    color: var(--main-color);
    padding-bottom: 1rem;
}

.articles p{
    text-transform: capitalize;
}


.info{
    min-height: 15vh;
    padding: 1.5rem;
    text-align: center;
    background-color: var(--secondary-color);
    font-weight: 300;
    color: white;
}


.links{
    text-align: center;
    background-color: var(--dark-color);
    min-height: 15vh;
    color: white;
}
.links ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    list-style: none;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.links p{
    color: #777;
}